/image_1.nii.gz
/image_10.nii.gz
/image_11.nii.gz
/image_12.nii.gz
/image_13.nii.gz
/image_14.nii.gz
/image_15.nii.gz
/image_16.nii.gz
/image_17.nii.gz
/image_18.nii.gz
/image_19.nii.gz
/image_2.nii.gz
/image_20.nii.gz
/image_21.nii.gz
/image_22.nii.gz
/image_23.nii.gz
/image_24.nii.gz
/image_25.nii.gz
/image_26.nii.gz
/image_27.nii.gz
/image_28.nii.gz
/image_29.nii.gz
/image_3.nii.gz
/image_30.nii.gz
/image_31.nii.gz
/image_32.nii.gz
/image_33.nii.gz
/image_34.nii.gz
/image_4.nii.gz
/image_5.nii.gz
/image_6.nii.gz
/image_7.nii.gz
/image_8.nii.gz
/image_9.nii.gz
