/meta_diffuser.ckpt
/meta_diffuser-v1.ckpt
/meta_diffuser-v2.ckpt
/meta_diffuser-v3.ckpt
/meta_diffuser-v4.ckpt
/meta_diffuser-v5.ckpt
/meta_diffuser-v6.ckpt
/meta_diffuser-v7.ckpt
/meta_diffuser-v8.ckpt
/meta_diffuser-v9.ckpt
/meta_diffuser-v9 copy.ckpt
/meta_diffuser-v10.ckpt
/last.ckpt
/epoch=40-step=205.ckpt
/last-v1.ckpt
/epoch=230-step=1155.ckpt
/last-v2.ckpt
/epoch=1380-step=6905.ckpt
/last-v3.ckpt
/epoch=12649-step=63250.ckpt
